.Nabar{
    .offcanvas { 
    
        --bs-offcanvas-width: 40%!important; 
        --bs-dropdown-border-width:0;
        
    }
    @media only screen and (max-width: 540px) {
        .offcanvas { 
        
            --bs-offcanvas-width: 50%!important; 
            
        }
    }


    @media only screen and (max-width: 400px) {
        .offcanvas { 
        
            --bs-offcanvas-width: 70%!important; 
            
        }
    }
    

    .rowc{
        background: #ecf0f1;
        color: #333;
        text-align: center;
        font-size: 15px;
        line-height: 40px;
        border-top: 2px solid #ECF0F1;
    }

    .bo{
        border: 1px solid #ddd;
    }
    .activer{
        border-top: 2px solid #721799;
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd;
        background: #fff;
    }
    a{
        color: black!important;
        
    }
    a:hover{
        color: #b3ffb3!important;
    }

}
